.container {
	text-align: center;
	border: 1px solid green;
}
.container ul {
	display: inline-block;
	margin: 10px 0;
	padding: 0;
}
.container li {
	display: inline-block;
}
.container li a {
	background: #444;
	color: #FFF;
	text-decoration: none;
}
